*{
    font-size: 1rem;
    margin: 0;
}
/* etiquetes globlas */
header, footer{
    background-color: #283583;
    color: #ffe4c4;
    text-align: center;
    align-content: center;
    position: fixed;
    width: 100%;
}


/* etiquetes individuals */
header{
    top: 0;
    font-size: 2.75rem;
    height: 4rem;
}
footer{
    bottom: 0;
    font-size: 0.6rem;
    height: 1rem;
}
main{
    background-color: #ffe4c4;
    top: 4rem;
    bottom: 1rem;
    position: absolute;
    width: 100%;
    height: calc(100% - 5rem);
}

/* ---------- clases d'etiquetes ---------- */
