header{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-color: antiquewhite;
}
ul{
    /* margin: 3px; */
    /* padding: 3px; */
}
li{
    display: inline;
}
footer{
    font-size: x-small;
    text-align: center;
    background-color: antiquewhite;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}