/* <!--  ==================================================
COMUN
==================================================== --> */
.form-filas{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
}

h1{
    text-align:center;
    margin-bottom:30px;
    color:#333;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* <!--  ==================================================
PAGINA DE LISTADOS
==================================================== --> */

.franjita-comunidad h2{
    margin:8px 0;
    color:#222222;
}
.franja-hotel{
    background:#fff;
    padding:20px;
    border: 1px solid #999999;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.lista-hoteles{
    display:flex;
    flex-direction:column;
    gap:10px;
}

/* <!--  ==================================================
TABLAS
==================================================== --> */
table{
    margin: 10px 0px;
}
th, td{
    border: 1px solid #555555;
    padding: 5px 6px;
    text-align: center;
    background-color: #f8fcff;
}
th{
    background-color: #dce9d5;
}

/* <!--  ==================================================
FILAS CON DOBLE COLUMNA
==================================================== --> */
.doble-col{
    display:flex;
    gap: 20px;
}

button[type="submit"]{
    background-color: #013801;
    color: #fefff0;
    margin: 5px 0px;
    padding: 3px 9px;
    border-radius: 5px;
}

/* <!--  ==================================================
CAJAS EXTERIORES DE FORMULARIOS
==================================================== --> */
.caixa-form-gr, .caixa-form-pet{
    display: flex;
    flex-direction: column;
    background-color: #ffffffb0;
    box-shadow: #a0b8a0 0px 0px 10px;
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
}
.caixa-form-gr{
    width: 600px;
}
.caixa-form-pet{
    width: 440px;
}
