/* <!-- ================================== 
ETIQUETAS UNIVERSALES
================================== --> */
*{
    box-sizing: border-box; /* agafa els marges de la seva caixa */
    margin: 0;
    padding: 0;
    /* background-color: var(--col-tituls); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* PER POSAR VARIABLES */
:root{
    --col-tituls: #ffe4c4;
    --fons-tituls: #283583;
    --col-menu: #ffffd2;
}
html{
    font-size: 62.5%; /* equival a 10px */
    scroll-behavior: smooth;
}

/* <!-- ================================== 
ETIQUETAS GLOBALS COMUNES
================================== --> */
header, footer{
    width: 100%;
    background-color: var(--fons-tituls);
    color: var(--col-tituls);
    text-align: center;
    align-content: center;
    z-index: 99;
}

/* <!-- ================================== 
ETIQUETAS GLOBALS
================================== --> */
header{
    position: fixed;
    top: 0;
    font-size: 2.75rem;
    height: 4rem;
    grid-area: cap;
}
nav{
    background-color: var(--col-menu);
    grid-area: llista;
}
aside{
    background-color: #c9ffff;
    grid-area: banner;
}
nav, aside{
    font-size: 1.5rem;
    padding: 1rem;
}
main{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    background-color: #ffbebe;
    padding: 1rem;
    grid-area: contingut;
}
footer{
    grid-area: peu;
}
h2{
    text-align: center;
}


/* <!-- ================================== 
MENU del NAV
================================== --> */
#navbar{
    position: sticky;
    top: 5rem;
    /* overflow: hidden;     */
}    
#navbar a {
  float: left;  
  display: block;
  /* color: #f2f2f2; */
  /* text-align: center; */
  /* padding: 14px; */
  /* text-decoration: none; */
}  

ul{
    text-align: center;
}    

.menu{
    position: sticky;
    top: 5rem;
}    
.menu::before{
    content: "Menu";
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}    


/* <!-- ================================== 
FORMULARIS
================================== --> */
.registre, .perfil{
    width: calc(100% - 2rem);
    height: 80rem;
    border: 1px solid var(--fons-tituls);
    padding: 2rem;
    margin: 2rem 1rem;
}

.separacio{
    margin: 2rem 1rem;
}
.imatge{
    height: 40rem;
}
.usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.tabla{
    display: flex;
    width: 10rem;
}
th{
    width: 10rem;
}

label{
    /* display: inline-block */
}

/* <!-- ================================== 
IMATGES en el ASIDE
================================== --> */
.img-Banner{
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #000;
    background-color: #ffffff;
}
figcaption{
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
    color: #585858;
}


/* <!-- ================================== 
DINTRE DE MAIN
================================== --> */
section{
    scroll-margin-top: 7.5rem;
}
article{
    padding: 2rem;
    scroll-margin-top: 7.5rem;
}
article > figure{
    width: 20%;
}
article:nth-child(odd) > figure{
    float: left;
    margin-right: 2rem;  
}
article:nth-child(even) > figure{
    float: right;
    margin-left: 2rem;  
}


/* <!-- ================================== 
DINTRE DE MAIN
================================== --> */
.contenidor{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 4rem auto 2rem;
    grid-template-areas: 
    "cap cap cap"
    "llista contingut banner"
    "peu peu peu";
}


/* <!-- ================================== 
RESPONSIVE
================================== --> */
@media (max-width:375px){
    main{
        background: #475081;
    }
    .contenidor{
    display: block;
    /* display: grid;
    grid-template-columns: 15% auto ;
    grid-template-rows: 4rem auto 2rem;
    grid-template-areas: 
    "cap  cap"
    "llista contingut"
    "llista banner"
    "peu peu"; */
}
}