.peu{
    background-color: lightslategray;
    text-align: center;
    font-size: xx-small;
    color: white;
}
.boton{
    background-color: rgb(236, 147, 83);
    border: 2px;
    border-radius: 20px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
.cap{
    background-color: rgb(240, 238, 238);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titular{
    font-size: xx-large;
    text-align: center;
}
.tit-FICHA{
    margin: 5px;
    margin-bottom: 12px;
    font-size: 25px;
    text-align: left;
}
.text{
    text-align: left;
}
.img-GR{
    display: flex;
    justify-content: center;
}
.cara{
    width: 500px;
}
.img-PT{
    float: left;
    width: 97px;
    margin-right: 20px;
}
.ord{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.ficha{
    width: 250px;
    height: 335px;
    border: 2px solid black;
    margin: 4px;
    padding: 10px;
    text-align: left;                
}

