.peu{
    background-color: lightslategray;
    text-align: center;
    font-size: xx-small;
    color: white;
}
.boton{
    background-color: rgb(236, 147, 83);
    border: 2px;
    border-radius: 20px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
.cap{
    background-color: rgb(240, 238, 238);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titular{
    font-size: xx-large;
    text-align: center;
}
.text{
    text-align: left;
}
.img-GR{
    align-content: center;
    max-width: 100%;
    max-height: 100%;
}
.img-PT{
    align-content: center;
    width: 100px;
}
.ord{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ficha{
    height: ;
    width: 250px;
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    text-align: left;                
}

