/* etiquetes globlas */
header, footer{
    background-color: rgb(11, 9, 90);
    color: bisque;
    text-align: center;
}


/* etiquetes individuals */
header{
    font-size: 40px;
}
footer{
    font-size: x-small;
}
