.rojo{background-color: red;}
.blau{background-color: blue;}
.verd{background-color: green;}
.groc{background-color: yellow;}
.lila{background-color: blueviolet;}
.taronja{background-color: orange;}
.rosa{background-color: lightpink;}