/* <!--  ==================================================
TIPOGRAFIA
==================================================== --> */
.oleo-REG {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-BD {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}
