*{
    font-size: 15px;
    margin: 0;
}
/* etiquetes globlas */
header, footer{
    z-index: 99;
    position: fixed;
    background-color: #283583;
    color: #ffe4c4;
    text-align: center;
    align-content: center;
    width: 100%;
}
header{
    font-size: 2rem;
    height: 2.5rem;
}
footer{
    position: fixed;
    bottom: 0;
    font-size: 0.6rem;
    height: 1rem;
}

.listado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- per poder fer menus desplegables ---------- */

.navegador{
    /* display: block; */
     /* Amb fixed queda ancorat a la pantalla independentment del desplaçament, igual que el header i el footer.*/
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #ffe4c4;
    /* equivalent als 165px (165 ÷ 15 = 11). És important que li i .navegador tinguin exactament el mateix valor, perquè el left: 10rem del submenú depèn d'aquesta amplada. */
    width: 11rem;
    height: 100%;
    top: 2.5rem;
    /* perquè no quedi amagat darrere el footer. */
    bottom: 0.6rem;
    left: 0;
}
.navegador .menu{
    display: block;
    width: 100%;
    align-items: center;
}
.menu{
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
}
.item{
    list-style-type: none;
    text-align: center;
    width: 6rem;
    border: 1px solid #000000;
    border-radius: 15px;
    /* Aquesta és la clau dels submenús. Quan el fill ul té position: absolute, es posiciona respecte el seu ancestre posicionat més proper. Si li no té position: relative, el submenú surt disparat cap a un lloc inesperat del document. Amb relative, cada submenú surt ancorat al seu li pare. */
    position: relative;
}
.item> .menu{
    display: none;
    position: absolute;
    top: 0;
    left: 6rem;
}
.item > .menu > .item{
    border-radius: 15px;
    background-color: #ffe4c4;
}
.menu .item:hover{
    cursor: pointer;
    background-color: #7fffd4;
}
.item:hover>.menu{
    display: block;
}