*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* agafa els marges de la seva caixa */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

html{
    font-size: 62.5%; /* equival a 10px */
    scroll-behavior: smooth;
}

:root{
    --fons-principal: #e8ffc4;
    --fons-cap-peu: #283583;
    --fons-nav: #f1a5a5;
    --fons-anuncis: #ffff4d;
    --col-lletras-cap-peu: #fceedc;
}

header, footer{
    width: 100%;
    background-color: var(--fons-cap-peu);
    color: var(--col-lletras-cap-peu);
    text-align: center;
    align-content: center;
}
body{
    display: grid;
    grid-template-areas: 
        "cap cap cap"
        "llista contingut banner"
        "peu peu peu";
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 3rem 8fr 2rem;
    height: 100vh;
}
header{
    font-size: 2rem;
    grid-area: cap;
}
nav{
    background-color: var(--fons-nav);
    grid-area: llista;
}
main{
    background-color: var(--fons-principal);
    grid-area: contingut;
}
aside{
    background-color: var(--fons-anuncis);
    grid-area: banner;
}
nav, main, aside{
    padding: 0.5rem;
}

footer{
    grid-area: peu;
    height: 2rem;
}
/* ul::before{
    content: "MENÚ";
} */
ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

@media(max-width:400px){
    body{
        display: block;
    }
}