header, footer{
    text-align: center;
    background-color: black;
    color: bisque;
}

header{
    font-size: 50px;
}

.ord{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.img-PT{
    float: left;
    width: 97px;
    margin-right: 20px;
}
.tit-FICHA{
    margin: 5px;
    margin-bottom: 12px;
    font-size: 25px;
    text-align: left;
}
.ficha{
    width: 300px;
    height: 335px;
    border: 2px solid black;
    margin: 4px;
    padding: 10px;
    text-align: left;                
}
.video{
    width: 640px;
    height: 340px;
}